Arduino/ipch/simple_ferm_chamber-944529a/simple_ferm_chamber-981d95d0.ipch
Arduino/Visual Micro/.Simple Fermentation Chamber.vsarduino.h
Arduino/Visual Micro/.Simple_Fermentation_Chamber.vsarduino.h
Arduino/Visual Micro/.Simple_Ferm_Chamber.vsarduino.h
Arduino/Visual Micro/Compile.vmps.xml
Arduino/Visual Micro/Configuration.Debug.vmps.xml
Arduino/Visual Micro/Configuration.NoDebugStatements.vmps.xml
Arduino/Visual Micro/Upload.vmps.xml
*.ipch
Arduino/Visual Micro/.Arduino.vsarduino.h
Arduino/Simple_Ferm_Chamber.vcxproj.user
Arduino/Simple_Ferm_Chamber.suo
Arduino/Simple_Ferm_Chamber.sdf
Arduino/Simple_Ferm_Chamber.opensdf
Arduino/Simple_Ferm_Chamber.sdf
*.sdf
Arduino/Debug/cl.command.1.tlog
Arduino/Debug/CL.read.1.tlog
Arduino/Debug/CL.write.1.tlog
Arduino/Debug/Simple_Ferm_Chamber.Build.CppClean.log
Arduino/Debug/Simple_Ferm_Chamber.lastbuildstate
Arduino/Debug/Simple_Ferm_Chamber.log
Arduino/Debug/Simple_Ferm_Chamber.unsuccessfulbuild
Arduino/Debug/Simple_Ferm_Chamber.write.1.tlog
Arduino/Debug/vc100.idb
Arduino/Debug/vc100.pdb
Arduino/Simple_Ferm_Chamber.sdf
Arduino/Simple_Ferm_Chamber/Simple_Ferm_Chamber.opensdf
*.user
Arduino/Simple_Ferm_Chamber/Visual Micro/.Simple_Ferm_Chamber.vsarduino.h
Arduino/Simple_Ferm_Chamber/Visual Micro/Configuration.Debug.vmps.xml
Arduino/Simple_Ferm_Chamber/Visual Micro/Compile.vmps.xml
*.suo
