Arduino/ipch/simple_ferm_chamber-944529a/simple_ferm_chamber-981d95d0.ipch
Arduino/Visual Micro/.Simple Fermentation Chamber.vsarduino.h
Arduino/Visual Micro/.Simple_Fermentation_Chamber.vsarduino.h
Arduino/Visual Micro/.Simple_Ferm_Chamber.vsarduino.h
Arduino/Visual Micro/Compile.vmps.xml
Arduino/Visual Micro/Configuration.Debug.vmps.xml
Arduino/Visual Micro/Configuration.NoDebugStatements.vmps.xml
Arduino/Visual Micro/Upload.vmps.xml